<div class="container" align="center">
<div>
  <h2>password generator</h2>
</div>

<div>
  <label for="">Length</label>
  <!-- <input  (input)="getLength($any($event.target).value)" >  -->
  <input  type="text" #box (keyup)="getLength(box.value)">
  
</div>

<div>
  <label for="">use letters </label>
  <input (change)="changeLetter()" type="checkbox">
</div>

<div>
  <label for="">use numbers </label>
  <input (change)="changeNumber()" type="checkbox">
</div>
<div>
  <label for="">use symbols </label>
  <input (change)="changeSymbol()" type="checkbox">
</div>

<div>
  <!-- event binding  -->
  <button [disabled]="!(length && (includeLetters || includeNumbers || includesymbols))" (click)="buttonClick()">Generate</button>
  
</div>

<div *ngIf="password">
  <!-- empty string inside javascript is evaluated as false  -->
  <label for="">your password</label>
  <!-- property binding  -->
  <input [value]="password">
</div>

</div>

